main {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.material-icons {
    color: indianred;
}

li.hidden, div.hidden, article.hidden, button.hidden, section.hidden {
    display: none;
}

nav {
    background-color: sandybrown;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1, nav span.material-icons {
    color: white;
}

nav * {
    margin: 0 0.2em;
}

nav .name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone {
	margin: auto;
	border: 1px solid black;
	width: 410px;
	height: 750px;
	display: flex;
	align-items: start;
	justify-content: center;
	background-color: black;
	border-radius: 2em;
}

.phone-container {
    width: 400px;
	height: 600px;
    border: 1px solid black;
    background-color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.search-container, .recipe-container {
    padding: 1em;
}

.description img {
    width: 100%;
    border-radius: 0.5em;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star {
    color: lightcoral;
}

h1 {
    margin: 0.2em 0;
}

h3 {
    font-size: 35px;
    margin: 0.45em 0 0.03em 0;
}

p {
    margin: 0.3em 0;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0;
    width: 100%
}

li {
    padding: 0.6em 0.5em; 
    border: 2px solid lightcoral;
    margin: 0.2em;
    border-radius: 0.75em;
}

.ingredient p {
    display: inline;
    padding: 0 0.5em;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 0.2em 0;
}
.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-adjust {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px dotted sandybrown;
    border-bottom: 3px dotted sandybrown;
    padding: 0.4em 0;
    margin: 0.4em 0 0.8em;
    font-size: 15px;
    min-width: 365px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.inputs > * {
    display: flex;
    margin: 0 0.5em 0 0;
    align-items: center;
}
.unit input {
    width: 60%;
    margin-right: 0.5em;
}

.unit {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.6em;
    align-items: center;
}

.adjust select {
    margin-left: 0.5em;
}

.adjust {
    display: flex;
    flex-direction: row;
}

.apply:hover {
    cursor: pointer;
}

.inputs .right {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.notify {
    font-weight: bold;
    transform: scale(1.25);
    color: sandybrown !important;
}

.apply {
    color: lightgray;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input[type="checkbox"] {
    transform: scale(1.2);
}

.step-container {
    display: flex;
    flex-direction: row;
}

li.step-container {
    border-radius: unset;
    border: none;
    border-bottom: 4px dotted sandybrown;

}

.step-num {
    font-size: 90px;
    margin-right: 0.2em;
}

.description-container {
    margin: 1.5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    font-style: italic;
    text-align: center;
}


.title {
    font-size: 30px;
    text-align: center;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid lightcoral;
    border-bottom: 3px solid lightcoral;
}

.quantity {
    display: flex;
    flex-direction: row;
}

.quantity-num {
    margin-right: 0.3em;
}

.left, .right {
    margin: 1em 1em;
}

.servings-description, .cook-time, .likes, .health-score {
    display: flex;
    align-items: center;
}

.checked {
    background-color: sandybrown;
    color: white;
    font-weight: bolder;
    border: 2px solid sandybrown;
}

.choice {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-bottom: 0.5em;
    border: 2px solid indianred;
    border-radius: 0.4em;
    background-color: lightgray;
}

.directions-toggle, .ingredients-toggle {
    flex: 1;
    text-align: center;
    padding: 0.5em 0;
}

.chosen {
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: indianred;
    border-radius: 0.2em;
}

input[type="radio"] {
    display: none;
}


label:hover {
    cursor: pointer;
}


.search-input {
    display: flex;
    justify-content: space-between;
}

.recipe-input {
    color: white;
    background-color: indianred;
    border: none;
    font-weight: bold;
}

.input-box input {
    border: none;
    height: calc(100%-2px);
    width: 90%;
}

.input-box {
    border: 1px solid black;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    width: 75%;
    padding: 0.2em;
}

button {
    border-radius: 0.5em;
    background: none;
	color: inherit;
	border: 1px solid black;
    padding: 0.2em;
    font: inherit;
    font-size: 18px;
	cursor: pointer;
    outline: inherit;
}

input:focus, select:focus {outline: none; }

.filter {
    font-size: 15px;
    display: flex;
    align-items: center;
}

select {
    border: none;
}

.sort-by {
    display: flex;
    justify-content: center;
    margin: 0.4em;
}

.sort-by button {
    border: none;
}

.toggle-sort span {
    color: black;
}

.recipe-result {
    display: flex;
    flex-direction: row;
    padding: 0.2em 0;
    border-bottom: 2px dotted lightcoral;
    align-items: center;
}

.recipe-result img {
    width: 45%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5em;
}

.recipe-result h2 {
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    margin-top: 0.2em
}


.result-description {
    width: 60%; 
    height: 120px;
    padding-right: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-result .left, .recipe-result .right {
    margin: 0.3em 0.8em;
}

.result-description .author {
    font-size: 16px;
}

.stats.result {
    font-size: 0.6em;
    border: none;
}

.recipe-result:hover {
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.ingredient:hover {
    cursor: pointer;
}

.description-list {
    width: 50%;
}

.description-list li {
    border: none;
    padding: 0.2em;
}

.description-list ul {
    list-style: unset;
    margin-left: 1em;
}

.special {
    color: steelblue;
    font-weight: bold;
}

@media (max-width: 900px), only screen and (max-device-width: 900px) {

    body {
        margin: 0;
    }
    main {
        height: 100vh;
        display: block;
    }

    .phone {
        border: none;
        width: 100%;
        height: 100%;
    }

    .phone-container {
        margin: 0;
        border: none;
        width: 100%;
        height: 100%;
    }

}